*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #07031e;
    border: 5px double yellow;
}

.box{
    position: relative;
    width: 400px;
    height: 400px;
    background: repeating-conic-gradient(from var(--a) ,#940B92 0%, #940B92 5%,transparent 5%, transparent 40%,#940B92 50%) ;
    animation: animate 4s linear infinite;
    border-radius: 30px ;
}
.box:hover{
    background-color: #FFFECB;
}

@property --a
{
    syntax:'<angle>';
    inherits: false;
    initial-value: 0deg;
}
@keyframes animate
{
    0%
    {
        --a:0deg;
    }
    100%
    {
        --a:360deg;
    }
}
.box::before{
    content: '';
    position:absolute;
    width: 100%;
    height: 100%;
    background: repeating-conic-gradient(from var(--a) ,#0e757c 0%, #940B92 5%,transparent 5%, transparent 40%,#45f3ff 50%) ;
    animation: animate 4s linear infinite;
    animation-delay: -1s;
    border-radius: 20 px ;
}
.box::after{
    content: '';
    position: absolute;
    background: #2d2d39;
    border-radius: 15px;
    border: 8px solid #25252b;
}